<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

  {% include head.html %}

  <body>

    <header class="masthead">
      <div class="masthead-inner" align="center">

		  <h2 style="font-size: 20px;">Test D3 Site</h2>
      <a href="" target="_blank" id="feature_project_link"><img id="feature_project_image" src="" width="50%" style="border: 1px solid #FFF;" title="Some Image" /></a>

        <div class="colophon">
          <ul class="colophon-links">
            <li>
              <a href="/">Home</a>
            </li>
            <li>
              <a href="/bar-chart/">Bar Chart - example</a>
            </li>
            <!--<li>
              <a href="/pie-chart/">Pie Chart</a>
            </li>-->
            <li>
              <a href="/music-test-chart/">Music Test Chart</a>
            </li>
          </ul>
        </div>
      </div>
    </header>

    <div class="content container">

      <!-- Logo - Banner -->
    	<p align="center"><img src="" align="center" width="65%" style="padding-bottom: 10px;" /></p>

      	{{ content }}

      <!-- Footer -->
      <p align="center"><a href="{{ site.url }}" target="_blank" id="footer_project_link"><img id="footer_project_image" src="{{ site.footer_image_source }}" width="{{ site.footer_image_width }}%" title="{{ site.footer_title }}" class="fbanner" /></a></p><br />

      <div class="footer">
        <!--<ul>
          <li></li>
        </ul>-->
      </div>
    </div>
  </body>
</html>
